$logo-color: rgba(51, 39, 0, 0.85);
$nav-color:  #8A6A00;
$edu-color: #DE6101;
$legacy-color: rgba(51, 39, 0, 0.9);
$header-p-color: rgba(51, 39, 0, 0.7);
$btn-color:#FFCC54;
$btn-text: #332700;
$navBG-color:  #FFFBF0;
$formbg-color: rgba(196, 196, 196, 0.6);
$active-color: rgba(255, 208, 84, 0.85);
$active1-color: rgba(14, 2, 92, 0.75);
$active2-color: rgba(12, 112, 3, 0.75);
