* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.center {
    margin: 0 auto;
    max-width: 1440px;
}

@media screen and (max-width: 1240px) {
    .center {
        max-width: 1240px;
    }
    .nav {
        width: 100%;
    }
}



@media screen and (max-width: 900px) {
    .center {
        max-width: 900px;
    }
}



@media screen and (max-width: 768px) {
    .center {
        max-width: 768px;
    }
}



@media screen and (max-width: 480px) {
    .center {
        width: 100%;
        max-width: 480px;
    }
}



@media screen and (max-width: 375px) {
    .center {
        width: 100%;
        max-width: 375px;
    }
}