.foot {
    background: rgba(132, 139, 137, 0.75);

    &__wrapper {
        @extend .header__wrapper;
    }

    &__container {
        display: block;
        color: $background;
        
        @media screen and (min-width:768px) {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding-top: 3.125rem;
            padding-bottom: 4.93rem;
        }
    }

    &__acare {
        max-width: 24.43rem;
    }

    &__title {
        font-weight: 700;
        font-size: 1.87rem;
        line-height: 37px;
        padding-bottom: 1.25rem;
    }

    &__description {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 22px;
        letter-spacing: 0.01em;
        padding-bottom: 2.37rem;
        padding-top: 1.2rem;
        max-width: 25ch;

        @media screen and (min-width: 1240px) {
            max-width: 37ch;
        }
    }

    &__img_list {
        padding-right: 2.18rem;
    }

    &__img_list:hover {
        transform: translateY(-5px);
    }

    &__about {
        text-align: center;
        padding-top: 2rem;

        @media screen and (min-width: 764px ) {
            padding-top: 0;
        }
    }

    &__menu {
        list-style: none;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 24px;
    }

    &__list {
        padding-bottom: 2.18rem;
    }

    &__rule {
        height: 0px;
        border: 1px solid rgba(255, 251, 240, 0.5);
    }

    &__copy_right {
        padding-top: 2rem;
        padding-bottom: 2.37rem;
        font-weight: 500;
        font-size: 1.12rem;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $background;
    }

}