.sec3 {
    position: relative;
    background: #FFFBF0;

    &__container {
        display: flex;
        justify-content: center;
        padding-right: 5.9rem;
        padding-left: 7.37rem;
        
    }

    &__div {
        padding-right: 4.68rem;
        // flex: 1 0 527px;
    }

    &__head {
        padding-top: 12.43rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 39px;
        letter-spacing: 0.01em;
        color: rgba(51, 39, 0, 0.9);
        transform: rotate(0.71deg);
        padding-bottom: 1.99rem;
        padding-right: 5.24rem;
    }

    &__p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: rgba(0, 0, 0, 0.7);
        padding-bottom: 3.06rem;
        width: 527px;
    }

    &__btn {
        padding: 0.937rem 2.18rem;
        background: #FFCC54;
        border-radius: 0.937rem;
        text-decoration: none;
        color: #332700;font-size: 2.12rem;
        line-height: 42px;
        letter-spacing: 0.01em;
    }

    &__img {
        padding-bottom: 13.023rem;
        z-index: 2;
    }

    &__ribbon {
        position: absolute;
    }

    &__ribbon--activea {
        top: 8rem;
        right: 40rem;
    }
    &__ribbon--activeb {
        top: 4.25rem;
        right: 11.37rem;
    }
    &__ribbon--activec {
        bottom: 8.75rem;
        right: 6.812rem;
    }
    &__ribbon--actived {
        right: 36.625rem;
        bottom: 13.812rem;
    }
}