.service {
    background: $service-color;

    &__wrapper {
        @extend .review__wrapper;
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 5.28rem;
        padding-bottom: 4.29rem;
        gap: 2rem;

        @media screen and (min-width:1024px) {
            flex-direction: row;
            padding-left: 2rem;
            padding-bottom: 8.29rem;
        }

        @media screen and (min-width:1440px) {
            gap: 5rem;
        }
    }

    &__illustration {
        position: relative;
    }

    &__image {
        z-index: 4;
        position: relative;
    }

    &__ribbon {
        display: none;

        @media screen and (min-width: 1024px) {
            display: initial;
            position: absolute;
        }
    }

    &__ribbon--activea {
        @media screen and (min-width: 1024px) {
            top: 0rem;
            left: -5.37rem;
        }
        
    }
    &__ribbon--activeb {
        @media screen and (min-width: 1024px) {
            top: 1rem;
            right: 4.5rem;
        }
    }

    &__ribbon--activec {
        @media screen and (min-width: 1024px) {
            bottom: -6rem;
            left: 0rem;
        }
    }

    &__ribbon--actived {
        @media screen and (min-width: 1024px) {
            bottom: -1rem;
            right: 6rem;
        }
    }
    

    &__content {
        text-align: center;
        padding-bottom: 2.5rem;

        @media screen and (min-width: 1024px) {
            text-align: left;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: $ninth-color;
        padding-bottom: 1rem;
        max-width: 28ch;

        @media screen and (min-width:768px) {
            line-height: 39px;
            font-size: 2rem;
            padding-bottom: 2.002rem;
        }

        @media screen and (min-width: 1024) {
            max-width: 45ch;
        }
    }

    &__description {
        font-weight: 500;
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $service-description-color;
        padding-bottom: 2.5rem;
        max-width: 57ch;
    }

    &__btn {
        padding: 0.937rem 2.187rem;
        background: $btn-color;
        border-radius: 0.937rem;
        text-decoration: none;
        color: $btn-text;
        font-weight: 500;
        font-size: 2.126rem;
        line-height: 42px;
        letter-spacing: 0.01em;
        
    }

    &__btn:hover {
        background: $hover-btn-color;
    }
}