.platform {
    background: $background;

    &__wrapper {
        @extend .review__wrapper;
        
    }

    &__flex {
        @extend .service__flex;
    }

    &__content {
        @extend .service__content;
    }

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: $ninth-color;
        padding-bottom: 1rem;
        max-width: 30ch;

        @media screen and (min-width:768px) {
            line-height: 39px;
            font-size: 2rem;
            padding-bottom: 2.002rem;
        }
    }

    &__description {
        @extend .service__description;
    }

    &__btn {
        @extend .service__btn;
    }

    &__btn:hover {
        background: $hover-btn-color;
    }

    &__ilustration {
        position: absolute;
    }

    &__image {
        z-index: 24;
        position: relative;
    }

    &__ribbon {
        display: none;

        @media screen and (min-width: 1024px) {
            display: initial;
            position: relative;
        }
    }

    &__ribbon--activea {
        @media screen and (min-width: 1024px) {
            top: -30rem;
            right: 0.5rem;
        }
        @media screen and (min-width:1440px) {
            top: -45rem;
            right: 0.5rem;
        }
        
    }
    &__ribbon--activeb {
        @media screen and (min-width: 1024px) {
            top: -30rem;
            right: -17rem;
        }
        @media screen and (min-width: 1440px) {
            top: -45rem;
            right: -20rem;
        }
        
    }
    &__ribbon--activec {
        @media screen and (min-width: 1024px) {
            bottom: 19.75rem;
            right: -10.812rem;
        }
        @media screen and (min-width: 1440px) {
            bottom: 10.75rem;
            right: -5.812rem;
        }
        
    }
    &__ribbon--actived {
        @media screen and (min-width: 1024px) {
            right: 15rem;
            bottom: 25.812rem;
        }
        @media screen and (min-width: 1440px) {
            right: 26em;
            bottom: 17.812rem;
        }
    }
}