.course {

    &__wrapper {
        @extend .review__wrapper;
    }

    &__container {
        display: grid;
        grid-template-columns: 200px 100px;
        padding-top: 4.87rem;
        padding-bottom: 2.12rem;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__head {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 22px;
        color: $logo-color;
        padding-bottom: 1.37rem;
    }

    &__items {
        text-align: left;
    }

    &__items--active {
        
        @media screen and (min-width: 768px) {
            text-align: right;
        }
        
    }

    &__menu {
        list-style: none;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 17px;
        color: rgba(51, 39, 0, 0.75);
        padding-bottom: 2.125rem;
    }

    &__list {
        padding-bottom: 0.625rem;
    }

    &__circle {
        width: 106px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2.12rem;
    }

}