$logo-color: rgba(51, 39, 0, 0.85);
$second-color:  #8A6A00;
$edu-color: #DE6101;
$legacy-color: #8A6A00;
$third_color: rgba(51, 39, 0, 0.7);
$background: #FFFBF0;
$forth-color: rgba(0, 0, 0, 0.85);
$form-background-color: rgba(196, 196, 196, 0.6);
$fifth-color: rgba(51, 39, 0, 0.35);
$search-color:  rgba(120, 129, 128, 0.75);
$btn-color: #FFCC54;
$hover-btn-color: orange;
$play-store-color: rgba(255, 255, 255, 0.75);
$play-store-color2: #FFFFFF;
$first-card: rgba(255, 208, 84, 0.85);
$second-card: rgba(14, 2, 92, 0.75);
$third-card: rgba(12, 112, 3, 0.75);
$sixth-color: rgba(51, 39, 0, 0.75);
$seventh-color: rgba(255, 251, 240, 0.9);
$eight-color: rgba(255, 251, 240, 0.7);
$service-color: #F7F2E5;
$service-description-color: rgba(0, 0, 0, 0.7);
$btn-text:#332700;
$card-first-image-bg: rgba(193, 214, 229, 0.5);
$card-second-image-bg: rgba(255, 239, 223, 0.9);
$first-card-background: rgba(254, 227, 207, 0.5);
$second-card-background: rgba(79, 146, 182, 0.95);
$ninth-color: rgba(51, 39, 0, 0.9);
$tenth-color: rgba(51, 39, 0, 0.95);


